:root {
    --text-color:#f0f4f5;
    --background-color:#263343;
    --accent-color:#d49466;
}

body {
    margin:0;
    font-family: 'Segoe UI';
}

/*
a {
    text-decoration:none;
    color:var(--text-color);
}
*/

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #263343;
    padding:8px 12px;
}

.navbar_logo {
    font-size:24px;
    color:white;
}

.navbar_logo i {
    color:#d49466;
}

.navbar_menu {

    display:flex;   
    list-style: none; 
    padding-left:0;
}

.navbar_menu li {
    padding:8px 12px;
}

.navbar_menu li:hover {
    background-color: #d49466;
    border-radius:4px;
}

.navbar_icons {
    
    list-style: none;
    color:white;
    display:flex;
    padding-left:0;
}

.navbar_icons li {
    padding:8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right:32px;
    font-size:24px;
    color:#d49466;
}
@media screen and (max-width:768px) {
    .navbar {
        flex-direction:column; 
        align-items: flex-start;       
        padding:8px 24px;
    }

    .navbar_menu {
        display:none;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .navbar_menu li {
        width:100%;
        text-align: center;
    }

    .navbar_icons {
        display:none;
        justify-content:center;
        width:100%;

    }   

    .navbar_toogleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display:flex;
    }
}

#skip {
    position: relative;
}

#skip a {
    position: absolute; left: 0px; top:-35px; border: 1px solid #fff; 
    color: #fff; background:#333; line-height: 30px; width: 200px;
    text-align: center;
}

#skip a:active,
#skip a:focus { top: 0;}

.ir_pm {display: block; overflow: hidden; font-size:0; line-height: 0; text-indent: -9999px;}
.ir_wa {display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; height: 100%;}
.ir_su {overflow: hidden; position: absolute; line-height: 0; width: 0; height: 0; text-indent: -9999px;}

.notice4 {
    position: relative; border: 1px solid #ccc;
}

.notice4 h4 {
    border-bottom: 1px solid #ccc; padding: 8px 10px;
}

.notice4 h4 em {
    color: #cf3292;
}

.notice4 ul {
    padding: 10px;    
}

.notice4 li {
    overflow: hidden;
}

.notice4 li a {
    float: left; width: 60%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.notice4 li span {
    float: right; width: 30%; text-align: right;
}

.notice4 a.more {
    position: absolute; right: 9px; top: 9px;
}

