/*
.box {
    background-color: white;
    width:300px;
    height:auto;
    text-align: center;
    overflow:hidden;

    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    border:20px solid orangered;
}
*/

body {
    background-color: #999999;
    margin:0;
}

.cover {
    /* background-color: skyblue; */
    background-image: url(/images/2.jpg);
    height:100vh;
    display:table;
    width:100%;
}

.cover-inner {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

.box {
    background-color: deepskyblue;
    width:400px;
    margin: 0 auto;
    padding: 2rem 0;
}

.box2 {
    background-color: white;
    width:300px;
    height: 300px;
    margin:50px auto;
    text-align: center;
    line-height: 300px;
    overflow: auto;
    border:20px solid orangered;
}

.box2 img {
    vertical-align: center;
}

span {
    background-color: orange;
    display: inline-block;
}

table {
    height:200px;
}

td {
    
}
